<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="csrf_token" value="{{csrf_token()}}">
    <script src="{{url_for('static',filename='jquery-1.11.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <style>
        .post-group {
    margin-top: 20px;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    width: 65%;
    margin-left: 150px;
}
.post-header ul  {
    list-style: none;
    overflow: hidden;
}

.post-header-li {
    text-align: center;
    width: 24%;
    float: left;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-li {
    list-style: none;
}

    </style>
</head>
<body>
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">破茧科技</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sigin/"> 
            
                {% if username %}
                {{ username }}
                    {% else %}
                    登录
                {% endif %}


        
        </a>
        
        </li>
          <a href="/sigup/" >注册 <span class="caret"></span></a>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br>
<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-sm-8">
        <div class="bs-example" data-example-id="simple-carousel">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for banner in banners %}
                        {% if loop.first %}
                             <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}" class="active"></li>
                        {% else %}
                             <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}" ></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner" role="listbox">
                    {% for banner in banners %}
                        {% if loop.first %}
                             <div class="item active"><a href="{{ banner.link }}" target="_blank">
                                <img alt="Third slide [900x500]"
                             src="{{banner.imglink }}"
                             data-holder-rendered="true" style="width: 100%  ; height: 500px">
                             </a>
                                </div>
                        {% else %}
                            <div class="item">
                                <a href="{{ banner.link }}  " target="_blank">
                                <img alt="Third slide [900x500]"
                             src="{{banner.imglink }}"
                             data-holder-rendered="true" style="width: 100%  ; height: 500px">
                            </a>
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {#  板块   #}
    <div class="col-lg-3">
<button  class="btn-info btn-block" style="width: 100% ;height: 20%"><a href="/tzfb/">发表帖子</a></button>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">板块名称</h3>
  </div>
  <div class="panel-body">
    <table table table-striped  style="width: 80%">
        {% for bk in bks %}
        <tr>
            <td><a href="/?boarder_id={{bk.id}}">{{ bk.bkname }}</a></td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
    </div>
</div>
<div class="post-header" style="border-bottom: 1px solid #e6e6e6">
            <ul>
                <li class="post-header-li"><a href="#">最新</a></li>
                <li class="post-header-li"><a href="/?a=1">精华帖子</a></li>
                <li class="post-header-li"><a href="#">点赞最多</a></li>
                <li class="post-header-li"><a href="#">评论最多</a></li>
            </ul>
        </div>
        <div class="post-content">
            <ul>
                {% for post in posts %}
                    <li class="post-li"
                        style="border-bottom: 1px solid #e6e6e6;overflow: hidden;padding-top: 20px;padding-bottom: 10px">
                        <div style="float:left;">
                            <img style="width: 40px;height: 40px"
                                 src="{{ url_for('static',filename='front/img/pjkj.png') }}">
                        </div>
                        <div style="float:left;padding-left: 20px">
                            {% if post.tag.status %}
                            <div style="font-size: 18px;font-weight: 700 ;background: #00a0e9"><a href="/showpost/?post_id={{ post.id }}">{{ post.title }}</a></div>
                            {% else %}
                            <div style="font-size: 18px;font-weight: 700 "><a href="/showpost/?post_id={{ post.id }}">{{ post.title }}</a></div>
                            {% endif %}
                            <div><span style="padding-right: 20px">作者:{{ post.user.username}}</span>
                                <span style="padding-right: 20px;padding-left: 20px">评论:10</span>
                                <span style="padding-right: 20px;padding-left: 20px">时间:{{ post.create_time}}</span>
                                <span style="padding-right: 20px;padding-left: 20px">阅读:10</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div style="text-align: center">{{ pagination.links }}</div>

</body>
</html>