<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf_token" value="{{csrf_token()}}"  id="csrf_token">
    <title>Title</title>
    <script src="{{url_for('static',filename='jquery-1.11.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
     <script src="{{url_for('static',filename='config.json')}}"></script>
    <script src="{{url_for('static',filename='front/js/addcomm.js')}}"></script>
      <script src="{{url_for('static',filename='common/sweetalert/xtalert.js')}}"></script>
    <script src="{{url_for('static',filename='common/sweetalert/sweetalert.min.js')}}"></script>
     <script type="text/javascript" src="{{url_for('static',filename='utf8-php/ueditor.config.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='utf8-php/ueditor.all.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='common/sweetalert/sweetalert.css')}}">
</head>
<body>
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">破茧科技</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sigin/">登录</a></li>
          <a href="/sigup/" >注册 <span class="caret"></span></a>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
   <br>
<div class="row">
    <div class="col-md-9" style="border: 2px solid palegreen">
        <div  style="text-align: center"> <h1>{{ posts.title }}</h1></div>
        <div class="row">
            <div class="col-md-4"> 作者:{{ posts.title }}</div>
            <div class="col-md-4">时间:{{ posts.create_time }}</div>
            <div class="col-md-4">浏览量:99+</div>
        </div>
    <div  style="border-top: solid 2px  wheat " id="aa"  value="{{ posts.id }}">
        {{ posts.content|safe }}
    </div>
    </div>
    <div class="col-md-3">
        <div style="text-align: center ; font-size: 50px; width: 100%;height: 200px; background: pink" >作者:{{ posts.user.username}}</div>
    </div>

</div>
<div style="width: 100%;text-align: center"><h1>欢迎发表留言</h1></div>
<form class="form-horizontal">
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      <script id="editor" name="content" type="text/plain"></script>

    <script type="text/javascript">
          var ue = UE.getEditor("editor",{
         'serverUrl': '/upload/'
     });
    </script>
          </div>
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" id="addpost">提交</button>
    </div>
  </div>
</form>
<div  class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
    {% for common in commons %}
         <div style="border: 2px saddlebrown solid">评论者:{{ common.user.username|safe}}</div>
        <div  style="border: 2px cornflowerblue solid">评论内容:{{ common.content|safe }}</div>
        <div class="row">
        <div  class="col-md-10"></div>
        <div  class="col-md-2" style="border: #2b542c solid 1px">{{ common.create_time }}</div>
        </div>
     {% endfor %}
    </div>


    <div class="col-md-2"></div>

</div>


</body>
</html>