{% extends 'cms/base.html' %}

{% block head %}

 <script src="{{url_for('static',filename='cms/js/updateemail.js')}}"></script>
{% endblock %}


{% block page_title %} 修改密码 {% endblock %}
{% block content %}
<form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="请输入你的新邮箱" required autofocus>
                <button id="bbtn">点击获取验证码</button>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="text" id="rember" placeholder="请输入验证码">
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" id="aBtn">提交</button>
</form>
{% endblock %}
